Source: tero-repo
Section: admin
Priority: optional
Maintainer: Plan Ceibal <ceibal@plan.ceibal.edu.uy>
Build-Depends: debhelper (>= 9.0.0)
Standards-Version: 3.9.5
Vcs-Git: git://github.com/ceibal-tatu/tero-repo.git
Vcs-Browser: https://github.com/ceibal-tatu/tero-repo/

Package: tero-repo
Architecture: all
Depends: ${misc:Depends}, wget, apt
Description: Repositorio tero
 Configura e instala las claves necesarias para usar el repositorio tero.
